<!DOCTYPE html>
<html>
<head>
	<title>Block Page</title>
	<link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
	<div class="container">
		<div class="box" onclick="openPage('https://www.google.com')">
			<div class="box-icon"><i class="fas fa-user-plus"></i></div>
			<div class="box-text">Add Student</div>
		</div>
		<div class="box" onclick="openPage('https://www.google.com')">
			<div class="box-icon"><i class="fas fa-user-minus"></i></div>
			<div class="box-text">Delete Student</div>
		</div>
		<div class="box" onclick="openPage('https://www.google.com')">
			<div class="box-icon"><i class="fas fa-user"></i></div>
			<div class="box-text">View Student</div>
		</div>
		<div class="box" onclick="openPage('https://www.google.com')">
			<div class="box-icon"><i class="fas fa-users"></i></div>
			<div class="box-text">Registered Students</div>
		</div>
		<div class="box" onclick="openPage('https://www.google.com')">
			<div class="box-icon"><i class="fas fa-chalkboard-teacher"></i></div>
			<div class="box-text">Add Faculty</div>
		</div>
		<div class="box" onclick="openPage('https://www.google.com')">
			<div class="box-icon"><i class="fas fa-user-times"></i></div>
			<div class="box-text">Remove Faculty</div>
		</div>
	</div>

	<script src="/js/admin.js"></script>
</body>
</html>
