<!-- CSS -->
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nith-semreg</title>
    <link rel="stylesheet" href="/styles/webcam.css">

</head>
    
    <!-- -->
    <div id="my_camera"></div>
    <h2>update image</h2>
    <input type=button value="Take Snapshot" onClick="take_snapshot()">
     <p>make sure no one else except candidate in the frame.</p>
    <div id="results" ></div>
     
      <!-- Script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
    
    <!-- Code to handle taking the snapshot and displaying it locally -->

    <script src="/js/imgUpdate.js"></script>