<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nith-semreg</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
   <nav>
          <img src="/img/nithlogo.png" class="img1" alt="logo"> 
          <h4>National Institute Of Technology,Hamirpur<br>(an institute of national importance)<h4>

          <ul>
            
              <li><a href="../src/templates/views/index.html">HOME</a></li>
              <li><a href="https://nith.ac.in/nith-history">ABOUT</a></li>
              
              <li><a href="https://nith.ac.in/all-announcements">EVENTS</a></li>
              <li><a href="https://nith.ac.in/photo-video-gallery">GALLERY</a></li>
              <li><a href="https://nith.ac.in/central-facilities-and-cells">BLOG</a></li>
               
              <li><a href="https://nith.ac.in/contact-us">CONTACT</a></li>
              <li> <a href="http://localhost:80/flogin">FacultyLogin</a></li>
              <li><a href="http://localhost:80/login2"><button >VERIFY</button></a></li>
              
          
          </ul>
       </nav>
   <div class="wrapper">
<!--NAVIGATION-->
       
<!--END OF NAVIGATION-->
      
      <div class="section">
      
          <h1>WE ENSURE A BETTER EDUCATION <br> FOR A BETTER WORLD</h1>
  
          
          <a href="http://localhost:80/login"><button class="btn-1">LOGIN</button></a>
          <br><br><br><br>
          <br><br><br><br>
          
         
          
<!--FEATURES-->
         
<!--END OF FEATURES-->
      </div>
<!--END OF SECTION-->
   </div>
<!--END OF WRAPPER-->
   
<!--SHOWCASE-->
   <showcase>

       <h1>Departments</h1>
       <div id="courses">
           <div class="cs">
               <h3>Computer Science</h3>
               
               <a href="https://nith.ac.in/computer-science-engineering" ><button class="apply"><img src="/img/cse.jpeg" width="50%" alt="cs"></button></a>
           </div>
           <div class="Electronics & Communication">
               <h3>Electronics & Communication</h3>
               
               <a href="https://nith.ac.in/electronics-communication-engineering" ><button class="apply"><img src="/img/business.jpeg" alt="business"></button></a>
           </div>
           <div class="Civil Engineering">
               <h3>Civil Engineering</h3>
               
               <a href="https://nith.ac.in/Departments/topic/130" ><button class="apply"><img src="/img/journalism.jpeg" alt="media"></button></a>
           </div>
           <div class="arts">
               <h3>Mechanical Engineering</h3>
               
               <a href="https://nith.ac.in/mechanical-engineering" ><button class="apply"><img src="/img/arts.jpeg" alt="arts"></button></a>
           </div>
           <div class="Electrical Engineering">
               <h3>Electrical Engineering</h3>
               
               <a href="https://nith.ac.in/electrical-engineering" ><button class="apply"><img src="/img/medical.jpeg" alt="ms"></button></a>
           </div>
       </div>
   </showcase>
<!--END OF SHOWCASE-->
   
   
   <script src="/js/index.js"
   ></script>
    
</body>
</html>